/* Fonts 

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

  .quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

    Palette

    #85654C
    #534439
    #BAA89B
    #80A88D

    #402E32
    #DFE0DF
*/

* {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;

    color: #534439;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #402E32;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1em;
}

/* Nav menu */
.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
    padding: 2em;
    margin: 0;
    justify-content: center;

    color: #534439;
    font-size: 1.5em;
}

.nav-menu a {
    text-decoration: none;
}

.nav-menu li+li:before {
    content: " | ";
    padding: 0 20px;
    margin-right: 20px;
    position: relative;
    top: -2px;
}

.nav-menu a:hover {
    color: #80A88D;
}

/* Size of the page content */
header,
div {
    width: 80%;
    margin: 0 auto;
}

/* Footer */
footer {
    width: 80%;
    margin: 0 auto;
    background-color: #2b3d4f;
    padding: 1em;
}

/* Introduction block */

main {
    background-color: #402E32;
    width: 80%;
    margin: -3% auto;
    padding: 16% 0% 16% 0%;
}

.main h2 {
    color: #BAA89B;
}

.main p {
    width: 50%;
    margin: 0 auto;
    color: #DFE0DF;

    line-height: 1.5em;
    font-size: 1.2em;
}

/* Extra resources block */
.extra-resources {
    padding: 16% 0% 16% 0%;
}

.info-on-materials {
    padding: 5% 0% 16% 0%;
    background-color: #402E32;
}

.info-on-materials h3 {
    color: #BAA89B;
}

.info-on-materials img,
ul,
a {
    justify-content: center;
    text-decoration: none;
}

.info-on-materials img {
    width: 200px;
    height: 200px;
    border-radius: 3%;
    padding: 0% 5% 0% 5%;
}

.info-on-materials ul {
    list-style: none;
}